<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CollisionControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CollisionControl.Properties.Settings>
            <setting name="SettingPath" serializeAs="String">
                <value>O:\Etalon Project\KPO\Revit\!_БИБЛИОТЕКА РЕСУРСОВ\06_АУДИТ\01_Navisworks\для CollisionControl\Настройки.xml</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value/>
            </setting>
        </CollisionControl.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
